<app-page-title title="Guests"></app-page-title>

<app-card title="List of Guests">
  @if (viewMode() === 'table') {
    @if (persons(); as data) {
      <div style="position: relative; padding-bottom: 60px;">
        <app-table
          [rows]="data"
          [columns]="columns"
          (rowAction)="onRowAction($event)">
        </app-table>

        <button class="btn btn-success"
                style="position: absolute; bottom: 0; right: 0;"
                (click)="openForm()">
          + New Guest
        </button>
      </div>
    } @else {
      <app-loader></app-loader>
    }
  }

  @else {
    <div class="p-3">
      <h3>{{ activePerson.id ? 'Edit Guest' : 'New Guest' }}</h3>

      <form #guestForm="ngForm" (ngSubmit)="savePerson()">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" [(ngModel)]="activePerson.name" name="name" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" [(ngModel)]="activePerson.email" name="email" required>
        </div>

        <div class="d-flex justify-content-end gap-2">
          <button type="button" class="btn btn-secondary" (click)="closeForm()">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="guestForm.invalid">Save</button>
        </div>
      </form>
    </div>
  }
</app-card>
