<table class="table">
  <thead>
  <tr>
    @for (column of columns(); track $index) {
      <th scope="col">{{column.name}}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (row of rows(); track $index) {
      <tr>
        @for (column of columns(); track $index) {
          <td>
            @if (column.value) {
              {{column.value(row)}}
            }
            @else if (column.actions) {
              @for (action of column.actions; track action.type) {
                <button
                  (click)="onActionClick(row, action)"
                  [class]="action.cssClass || 'btn btn-secondary btn-sm me-1'"
                  type="button"
                >
                  {{ action.label }}
                </button>
              }
            }
          </td>
        }
      </tr>
    } @empty {
      No data available.
    }
  </tbody>
</table>
